body{
    background-image: url("Images/banner-g797cafcf0_1920.jpg");
}

#mainDiv{
    display:flex;
}

#formDiv{
    display:none;
    min-width:220px;
    height: 270px;
    margin-left: 2%;
}

form{
    background-color: white;
    padding: 7%;
    border-radius: 3%;
}

#booksDiv{
    display:flex;
    margin-left: 2%;
    flex-wrap:wrap;
}

h1, h2{
    text-align: center;
}

#addNew{
    display:block;
    margin:auto;
    border-radius: 50%;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 70px;
    width: 70px;      
    font-size: 2rem;
    border: 2px outset rgb(236, 231, 231);   
}

#addNew:hover,
#addNew:focus {
          filter: brightness(120%);
          box-shadow: 4px 2px 5px #000;
}

.bookCover{
    width: 210px;
    height: 310px;
    font-size: 1.3em;
    color:beige;
    padding: 10%;
}

#status{
    position:relative;
    opacity: 0;
    width: 0;
    height: 0;

}

.slider{
    position:absolute;
    display:inline-block;
    cursor:pointer;
    background-color: #eddb87;
    transition: .4s;
    border-radius: 34px;
    width: 60px;
    height: 34px;
    
}

.slider:before {
    position:absolute;
    display:inline-block;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(96, 75, 49);
    transition: .4s;
    border-radius: 50%;
  }

  #status:checked + .slider {
    background-color: #c3a82d;
  }
  
  #status:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  #status:checked + .slider:before {
    transform: translateX(26px);
  }

#formSubmit{
    margin-top: 2rem;
    margin-left: 35%;
}